<!DOCTYPE html>
<html>
{% include 'watcher/head.html' %}
<body>
  {% include 'watcher/nav.html' %}

  <div class="container">
    <h1 class="text-center"> Monitor your trello ToDo the right way </h1>

    <h2>Features</h2>
    <ul>
      <li>Choose the boards you want to watch</li>
      <li>When someone mention you on trello, an item gets added automatically to your todo list</li>
      <li>When you reply on the corresponding card, the item is instantly cleared from your todo list</li>
    </ul>

  </div>
{% include 'watcher/footer.html' %}
 </body>
</html>
