<!DOCTYPE html>
<html>
{% include 'watcher/head.html' %}

<body>
    {% include 'watcher/nav.html' %}
    <div class="container">


        <div class="row">
          <h1 class="text-center"> Monitoring Trello Boards </h1>
        </div>
        <div class="row">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
          {% endfor %}
        </div>

        <div class="row text-center">
            <a class="btn btn-info" href="{% url 'watcher:generate_board_list' %}" style="margin-bottom:20px;">refresh board list</a>
        </div>
        {% if board_list %}
        <form action="{% url 'watcher:update_watched_boards' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-sm-12">
                    <div class="table-responsive">


                        <table class="table table-bordered table-hover table-striped tablesorter">
                            <thead>
                                <tr>
                                    <th class="header"> Board Name <i class="icon-sort"></i></th>
                                    <th class="header"> Watching <i class="icon-sort"></i></th>
                                </tr>
                            </thead>
                            <tbody>



                                {% for board in board_list %}
                                <tr>
                                    <td> <a href="https://trello.com/b/{{ board.board_trello_id }}" target="_blank">{{board.name}}</a> </td>
                                    <td>
                                        <!-- Rounded switch -->
                                        <label class="switch">
                                            <input type="checkbox" name="toggle_{{ board.board_trello_id }}" id="toggle_{{ board.board_trello_id }}" {% if board.is_watched %}checked{% endif %}>
                                            <div class="slider round"></div>
                                        </label>
                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
            <div class="row text-center" style='margin-bottom:150px;'>
              <input class="btn btn-primary" type="submit" value="Save" />
                <a class="btn btn-info" href="{% url 'watcher:generate_board_list' %}">refresh board list</a>
            </div>
        </form>

        {% else %}
        <p>No boards are available.</p>
        {% endif %}

    </div>
{% include 'watcher/footer.html' %}
</body>

<script type="text/javascript">
// Add an event listener on #form's submit action...
$("form").submit(
    function() {

        // For each unchecked checkbox on the form...
        $(this).find($("input:checkbox:not(:checked)")).each(

            // Create a hidden field with the same name as the checkbox and a value of 0
            // You could just as easily use "off", "false", or whatever you want to get
            // when the checkbox is empty.
            function(index) {
                var input = $('<input />');
                input.attr('type', 'hidden');
                input.attr('name', $(this).attr("name")); // Same name as the checkbox
                input.attr('value', "0"); // or 'off', 'false', 'no', whatever

                // append it to the form the checkbox is in just as it's being submitted
                var form = $(this)[0].form;
                $(form).append(input);

            }   // end function inside each()
        );      // end each() argument list

        return true;    // Don't abort the form submit

    }   // end function inside submit()
);      // end submit() argument list
</script>

</html>
