<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">Made with ♥ by <a href="http://github.com/edelans" target="_blank" >edelans</a>. Fork me on <a href="https://gitlab.com/edelans/trellowatch" target="_blank" >gitlab</a> !</p>
  </div>
</footer>
