<head>
  <title> TrelloWatch</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'watcher/style.css' %}" />
  <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
  <script src="/static/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/bower_components/components-font-awesome/css/font-awesome.min.css">

</head>
