<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TrelloWatch</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">

              {% if user and not user.is_anonymous %}

              <li><a href="/watcher/board_list/">Settings</a></li>
              <li><a href="/watcher/trello_task/">Trello ToDo</a></li>

              {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
              {% if user and not user.is_anonymous %}

                <li>
                  <a>Hello {{ user.get_full_name|default:user.username }}!</a>
                </li>
                <li>
                  <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
                </li>

              {% else %}
                <li>
                  <a href="{% url 'social:begin' 'trello' %}?next={{ request.path }}">Login with Trello</a>
                </li>
              {% endif %}
            </ul>


        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
