<!DOCTYPE html>
<html>
{% include 'watcher/head.html' %}
<body>
  {% include 'watcher/nav.html' %}

  <div class="container">

    <h1 class="text-center"> Monitoring Trello Tasks </h1>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}


{% if trello_task %}
	<div class="col-sm-12">
        <div class="table-responsive">
            <table id="task_table" class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                <tr>
                <th class="header"> Board Name <i class="icon-sort"></i></th>
                <th class="header"> Title <i class="icon-sort"></i></th>
                <th class="header"> Mentioner <i class="icon-sort"></i></th>
                <th class="header"> Last activity <i class="icon-sort"></i></th>
                <th class="header"> Accumulated comments <i class="icon-sort"></i></th>
                <th class="header"> Mute <i class="icon-sort"></i></th>
                </tr>
            </thead>
            <tbody>


            {% for task in trello_task %}
                <tr>

                    <td>{{task.board_name}}</td>
                    <td>
                      <a href="https://trello.com/c/{{task.trello_card_id}}" target="_blank">{{task.title}}</a>
                    </td>
                    <td>{{task.author}}</td>
                    <td>{{task.last_activity}}</td>
                    <td>{{task.accumulated_comments_since_my_last_action}}</td>
                    <td>
                      <span class="fa-stack fa-lg">
                        <a href="{% url 'watcher:mute_this_task' task_id=task.id %}">
                          <i class="fa fa-square-o fa-stack-2x"></i>
                          <i class="fa fa-volume-off fa-stack-1x"></i>
                        </a>
                      </span>
                    </td>
    			      </tr>
            {% endfor %}


            </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <p>No task available.</p>

    {% endif %}
      </div>
{% include 'watcher/footer.html' %}

<!-- datables plugin -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

<script type="text/javascript">

function filterGlobal (datatable, myInput) {
  if (myInput.indexOf('-') == 0) {
    // filter out value when starting search input with '-'
    var filterValue = myInput.split('-')[1];
    filterOutRegex = '^((?!' + filterValue +').)*$';
    datatable.search(filterOutRegex, true, false).draw();
  } else {
    // https://datatables.net/reference/api/search()
    datatable.search(myInput, false, true).draw();
  }
}

$(document).ready( function () {
  var datatable = $('#task_table').DataTable({
    "pageLength": 50
  });

  $('input[type=search]').on( 'keyup click', function () {
      myInput = $('input[type=search]').val();
      filterGlobal(datatable, myInput);
  } );
} );




////////////////////////////////////////////////












$(document).ready(function() {
    $('#example').DataTable();




} );
</script>

</body>
</html>
